.about {
    padding-top: 100px;
}


.about__desc-n-pic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__description {
    max-width: 538px;
}

.about__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/player_background.png");
    background-size: contain;
    width: 445px;
    height: 297px;
}

.about__video img {
    width: 187px;
    height: 93px;
}

.about__p1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding-bottom: 16px;
}

.about__p2 {
    padding-top: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.about-cards {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-cards__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 296px;
}

.about-cards__element h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 28px;
}

.about-cards__element p {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}