.contacts {

    padding-top: 40px;
    padding-bottom: 40px;

    a {
        color: #278AFF;
    }

    background: #F8F6F7;


    .content-container {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    .left-part {
        padding-top: 38px;
        display: flex;
        flex-direction: column;

        h2 {
            padding-bottom: 32px;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            letter-spacing: 0em;
            text-align: left;
        }

        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            padding-bottom: 20px;

        }

        a {
            padding-bottom: 32px;
        }

        .left-part__social {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;
                padding-bottom: 12px;
            }
        }

        .left-part__social-icons {
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
    }

    .right-part {

        background-color: white;
        max-width: 445px;
        border-radius: 8px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 85%;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 18px;
                font-weight: 600;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;
                padding-bottom: 15px;
            }

            p {
                padding-bottom: 35px;
            }

            input {
                padding-left: 16px;
                border-style: solid;
                height: 44px;
                color: #A0A0A0;
                border-color: #D8D8D8;
                margin-bottom: 20px;
            }

            button {
                color: white;
                font-size: 14px;
                font-weight: 500;
                background: #FB9475;
                border: none;
                height: 48px;
                width: 100%;
                border-radius: 24px;
                outline: none;
                transition: background 1s;
            }
        }

        .right-part__conditions {
            padding-top: 16px;
            padding-bottom: 0px;
            font-size: 12px;
            font-weight: 300;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;

        }
    }

}